.inspired-section{
    margin-bottom: 130px;
    overflow: hidden;
}
.inspired-caption{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.inspired-title{
    color: $text-main-color;
    // font-size: 35px;
    font-size: calc(18px + 17 * (100vw / 1440));
    padding-right: 20px;
    font-weight: 700;
}
.inspired-container-link{
    margin-left: auto;
    
    color: $text-links;
    text-transform: uppercase;
    
    a{
        color: $text-links;
        display: flex;
        gap: 25px;
    }
    .size-arrow{
        font-size: 25px;
    }
}
.inspired-places-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  repeat(6, 1fr);
}
.inspired-places__item{
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}
.inspired-places__item_img{
    height: 350px;
    object-fit: cover;
    display: block;
    filter: brightness(60%);
    pointer-events: none;
    transition: transform 0.6s ease;
}
.inspired-places__item_place{
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    color: $text-white;
}
.size-lg{
    grid-column: span 3;
}
.size-md{
    grid-column: span 2;
}