@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
@mixin paragraph-format{
  color: $text-main-color;
  font-weight: 400;
  line-height: 24px;
}