*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

body{
    font-family: 'Lato';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $text-white;
}

.container{
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

@import '_banner-section.scss';
@import '_benefits-section.scss';
@import '_inspired-section.scss';
@import '_prefecture-section.scss';
@import '_best-places-section.scss';
@import '_footer-section.scss';

.video-banner-section{
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(rgba(21, 24, 36, 0.40), rgba(21, 24, 36, 0.40)),  url('img/video_banner.png');
    background-position: center;
    background-size: cover;
    max-height: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: $text-white;
        font-size: 120px;
        cursor: pointer;
    }
}

@media(max-width:768px){
    .size-lg, .size-md{
        grid-column: span 6;
    }
    .inspired-places__item_img{
        height: 170px;
    }
    .inspired-container-link{
        gap: 5px;
    }
    .footer-container{
        row-gap: 45px;
    }
}

@media(max-width:850px){
    .menu-container{
        padding: 0 25px;
    }
    .menu-list{
        gap: 40px;
    }
    .banner-container{
        padding-top: 100px;
    }
    .container-benefits{
        padding: 50px 30px;
        // margin-top: -260px;
    }
    .benefits-title{
        margin-bottom: 60px;
    }
    .inspired-section{
        margin-bottom: 70px;
    }
    .pr-ng-item{
        flex-direction: column;
        &:nth-child(even){
            flex-direction: column;
        }
    }
    .pr-ng-item__container_img{
        height: 300px;
    }
    .pr-ng-item__info{
        padding: 20px 10px;
        .pr-ng-item__title{
            margin-bottom: 25px;
        }
        .pr-ng-item__text{
            margin-bottom: 30px;
        }
    }
    .best-places-list__item{
        gap: 20px;
        width: calc(100% / 2 - 55px / 2);
    }
    .footer-container{
        padding: 80px 50px;
    }
}

@media(max-width:560px){
    .menu-list{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    .drop-down-menu{
        display: block;
    }
    #header-section{
        padding: 30px 0;
    }
    .banner-container{
        padding: 0 30px;
        padding-top: 30px;
        margin-bottom: 40px;
    }
    .container-benefits{
        padding: 20px 30px;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .benefits-title{
        margin-bottom: 40px;
    }
    .benefits-list{
        gap: 0;
        row-gap: 30px;
        .benefits-list__item{
            gap: 15px;
        }
    }
    .inspired-caption{
        margin-bottom: 20px;
    }
    .prefecture-neighborhood-section{
        margin-bottom: 60px;
    }
    .best-places-section{
        margin-bottom: 60px;
        .best-places-caption{
            margin-bottom: 20px;
        }
    }
    .best-places-list__item{
        gap: 20px;
        width: 100%;
    }
    .best-places-list__item_btn{
        max-width: 100%;
    }
    .footer-container{
        padding: 80px 0;
    }
}
@media(max-width:420px){
    .drop-down-menu{
        width: 100%;
    }
}